body {
    font-family: "PT Sans Caption";
    color: white;
    background-color: #EBEBEB;
    margin: 0px;
}

 @-webkit-keyframes text-shadow-drop-center {
    0% {
      text-shadow: 0 0 0 rgba(0, 0, 0, 0);
      color: black;
    }
    25% {
        text-shadow: 1 1 10px rgba(0, 0, 0, 0.35);
        color:  #555555;
    }
    50% {
        text-shadow: 1 1 20px rgba(0, 0, 0, 0.35);
        color:  #AAAAAA;
    }
    75% {
        text-shadow: 1 1 30px rgba(0, 0, 0, 0.35);
        color:  #DDDDDD;
    }
    100% {
      text-shadow: 1 1 40px rgba(0, 0, 0, 0.35);
    }
}
  
@keyframes text-shadow-drop-center {
    0% {
      text-shadow: 0 0 0 rgba(0, 0, 0, 0);
      color: black;
    }
    25% {
        text-shadow: 1 1 10px rgba(0, 0, 0, 0.35);
        color:  #555555;
    }
    50% {
        text-shadow: 1 1 20px rgba(0, 0, 0, 0.35);
        color:  #AAAAAA;
    }
    75% {
        text-shadow: 1 1 30px rgba(0, 0, 0, 0.35);
        color:  #DDDDDD;
    }
    100% {
      text-shadow: 1 1 40px rgba(0, 0, 0, 0.35);
    }
}
  
  

.text-shadow-drop-center {
	-webkit-animation: text-shadow-drop-center 4s infinite alternate-reverse both;
	        animation: text-shadow-drop-center 4s infinite alternate-reverse both;
}
  
nav {
    position: fixed;
    display: flex;
    align-items: center;
    width: 100%;
    height: 40px;
    gap: 5px;
    color: black;
    background-color: white;
    z-index: 1;
}

nav > span {
    display: flex;
    align-items: center;
}

.humberger-icon {
    display: none;
    height: 20px;
    width: 25px;
}

.wave-icon {
    height: 30px;
    font-weight: 30px;
}

header {
    text-align: center;
    height: 500px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-content: center;
    background-image: url(./src/img/whale-header.jpg);
    background-position: center;
    background-size: cover;
    font-size: 25px;
}

header > h1 {
    margin: 2px;
    font-weight: bold;
    font-size: 2em;
    text-shadow: 2px 2px 4px #3b3b3b;
}

header > p {
    margin: 2px;
    font-size: 1em;
    text-shadow: 2px 2px 2px #3b3b3b;
}

h2 {
    text-align: center;
    font-size: 1.5em;
    color: black;
}

.section1 {
    display: flex;
    justify-content: center;
}

.grid-container1 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 20px;
    margin: 0px 20px 0px 20px;
}

.grid-item {
    box-shadow: 2px 2px 6px grey;
    border-radius: 8px;
    overflow: hidden;
}

.grid-item > img {
    border-radius: 8px;
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.transition {
    transition: transform 1s;
}

.transition img {
    transition: 0.5s all ease-in-out;
}

.transition:hover {
    transform: scale(0.9);
}

.transition:hover img {
    transform: scale(1.2);
}

#item1 {
    grid-column: 1;
    grid-row: 1 / span 2;
}

#item4 {
    grid-column: 4;
    grid-row: 1 / span 2;
}

.container {
    display: flex;
    flex-direction: row;
    column-gap: 20px;
    justify-content: center;
    align-items: stretch;
    padding: 0px 20px 40px 20px;
}

#card {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    justify-content: space-between;
    align-items: center;
}

.card-item {
    color: black;
    padding: 0px 18px 0px 18px;
    border-radius: 8px;
    background-color: #dcdcdc;
    box-shadow: 0px 0px 3px grey;
    max-width: 400px;
}

.card-item > h3 {
    text-align: center;
}

.card-item > ul > li {
    margin-bottom: 10px;
}

#image {
    box-shadow: 2px 2px 6px grey;
    border-radius: 8px;
    height: 630px;
    overflow: hidden;
}

#image img{
    border-radius: 8px;
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: black;
    padding-bottom: 30px;
}

.footer > p {
    margin-bottom: 2px;
}

@media only screen and (max-width: 768px) {
    .humberger-icon {
        display: flex;
    }

    .grid-container1 {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
        gap: 16px;
    }

    #item1 {
        grid-column: 1;
        grid-row: 1 / span 2;
    }
    
    #item4 {
        grid-column: 2;
        grid-row: 3 / span 2;
    }

    .container {
        gap: 16px;
    }
    .card-item {
        max-width: none;
        width: auto;
    }
}

@media only screen and (max-width: 425px) {
    .humberger-icon {
        display: flex;
    }

    .grid-container1 {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
        gap: 8px
    }

    #item1 {
        grid-column: 2;
        grid-row: 1 / span 2;
    }
    
    #item4 {
        grid-column: 1;
        grid-row: 3 / span 2;
    }

    .container {
        display: grid;
        row-gap: 20px;
        grid-template-columns: 1fr;
        grid-template-rows: 300px 1fr;
    }

    #image {
        grid-row: 1;
        height: 100%;
        width: 100%;
    }

    #image picture img {
        object-fit: cover;
    }

    #card {
        display: flex;
        flex-direction: column;
        height: 100%;
    }
    
    .card-item {
        color: black;
        padding: 0px 10px 0px 10px;
        border-radius: 8px;
        background-color: #dcdcdc;
        box-shadow: 0px 0px 3px grey;
    }
    
    .card-item > h3 {
        text-align: center;
    }

    .card-item > ul {
        padding-left: 20px;
    }
    
    .card-item > ul > li {
        margin-bottom: 10px;
    }
}